/************************** FONTS ******************************/
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src:
    local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src:
    local("Open Sans Bold"),
    local("OpenSans-Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: "Spectral SC";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src:
    local("Spectral SC Bold"),
    local("SpectralSC-Bold"),
    url("../fonts/spectralsc-bold.woff2") format("woff2"),
    url("../fonts/spectralsc-bold.woff") format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/***************************************************************/

/*
 *****************************
 *  GLOBAL
 *****************************
 */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  background-color: #ffffff;
  color: #2e2f22;
  min-width: 1240px;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  #ffffff-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
 *****************************
 *  header
 *****************************
 */
.page-header {
  position: relative;
}

.page-header .content-wrapper {
  position: absolute;
  flex-direction: row;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  margin-top: 4px;
  transition: all 0.5s ease;
}

.logo[href]:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.header-nav {
  margin-left: auto;
}

.nav-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 33px;
}

.nav-item {
  margin-left: 83px;
}

.nav-link {
  font-size: 18px;
  line-height: 25px;
  color: #2e2f22;
  text-decoration: none;
  transition: all 0.5s ease;
}

.nav-link:hover {
  color: #acc5d8;
  transition: all 0.5s ease;
}

.nav-link:active {
  color: #acc5d8B3;
  transition: all 0.5s ease;
}

.main-poster {
  width: 100%;
  height: auto;
}

/*
 *****************************
 *  main
 *****************************
 */

/*
 * Articles
 */
.articles {
  padding-top: 71px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.section-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
  width: 100%;
}

.section-heading {
  font-family: "Spectral SC", "Times New Roman", serif;
  font-size: 36px;
  line-height: 65px;
  margin: 0;
}

.select-article {
  height: 100%;
  font-size: 16px;
  line-height: 22px;
  background: #d7d1c9;
  border-radius: 10px;
  padding: 12px 74px 12px 20px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  transition: all 0.5s ease;
}

.select-article:hover {
  background-color: #acc5d8;
  transition: all 0.5s ease;
}

.select {
  position: relative;
  margin-left: 30px;
}

.select:after {
  position: absolute;
  content: url("../img/icon-select.svg");
  top: 12px;
  right: 19px;
}

.articles-list {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-post {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #2e2f22;
  height: 100%;
}

.blog-post:hover .post-image {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: all 0.5s ease;
}

.blog-post:active .post-image {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition: all 0.5s ease;
}

.article-item {
  width: 387px;
  margin-right: 19px;
  margin-bottom: 62px;
}

.article-item:nth-of-type(3n) {
  margin-right: 0;
}

.post-image {
  border-radius: 10px;
  margin-bottom: 27px;
  transition: all 0.5s ease;
}

.post-heading {
  font-family: "Spectral SC", "Times New Roman", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 12px;
}

.post-footer {
  font-size: 16px;
  line-height: 26px;
  color: rgba(46, 47, 34, 0.7);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.post-tags {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: rgba(46, 47, 34, 0.7);
}

.post-date {
  color: rgba(46, 47, 34, 0.7);
}

.article-item:nth-child(4),
.article-item:nth-child(5) {
  width: 590px;
  min-height: 552px;
}

.article-item:nth-child(4) .blog-post,
.article-item:nth-child(5) .blog-post {
  box-sizing: border-box;
  justify-content: flex-end;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 61px;
}

.article-item:nth-child(4) .post-image,
.article-item:nth-child(5) .post-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.article-item:nth-child(4) .post-heading,
.article-item:nth-child(5) .post-heading {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.article-item:nth-child(4) .text,
.article-item:nth-child(5) .text {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.article-item:nth-child(4) .post-tags,
.article-item:nth-child(4) .post-date,
.article-item:nth-child(5) .post-tags,
.article-item:nth-child(5) .post-date {
  color: rgba(255, 255, 255, 0.7);
}

.article-item:last-of-type {
  margin-right: 0;
}

.section-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 12px 58px;
  margin: 0 auto;
  margin-top: 40px;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #202117;
  border: 1px solid #202117;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.section-button:hover {
  opacity: 0.7;
  transition: all 0.5s ease;
}

.section-button:active,
.section-button:focus {
  opacity: 0.4;
  outline: none;
  transition: all 0.5s ease;
}

/*
 * About
 */
.about {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
}

.about-author {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 49px;
}

.author-image {
  border-radius: 10px;
  margin-right: 40px;
  align-self: flex-start;
}

.text-block {
  margin-top: 40px;
}

.about .text {
  margin-bottom: 25px;
  padding-right: 75px;
}

.big-blockquote {
  position: relative;
  margin: 0;
  margin-top: 100px;

  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
}

.big-blockquote:before {
  display: block;
  position: absolute;
  content: "";
  left: -23px;
  top: -25px;
  width: 3px;
  height: calc(100% + 50px);
  background-color: #d7d1c9;
}

/*
 * Portfolio
 */
.portfolio {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.portfolio-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;

  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 57px;
}

.portfolio-item {
  margin-right: 20px;
  width: 387px;
  background-size: cover;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
  overflow: hidden;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item-blog {
  background-image: url("../img/portfolio-1.jpg");
}

.portfolio-item-kiss {
  background-image: url("../img/portfolio-2.jpg");
}

.portfolio-item-effective {
  background-image: url("../img/portfolio-3.jpg");
}

.portfolio-link {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  padding: 140px 25px;
  min-height: 525px;
  height: 100%;

  text-decoration: none;
  color: #2e2f22;
  position: relative;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: all 0.5s ease;
}

.portfolio-link:hover,
.portfolio-link:active {
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  transition: all 0.5s ease;
}

.portfolio-heading {
  font-family: "Spectral SC", "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  margin-top: 0;
  margin-bottom: 44px;
}

.portfolio-subheading {
  font-family: "Spectral SC", "Times New Roman", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;

  margin-top: 0;
  margin-bottom: 17px;
}

.portfolio-item-white-theme .portfolio-link {
  color: #ffffff;
}

.portfolio-link .text {
  margin-bottom: 0;
}

.portfolio .section-button {
  text-transform: uppercase;
}

/*
 * Write me
 */
.write-me {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 85px;
}

.feedback-form {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 52px 80px 58px;
  margin-top: 44px;
  width: 1000px;

  background-image: url("../img/form-bg.jpg");
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-size: cover;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-bottom: 20px;
  margin-top: 0;
  width: 407px;
}

.input-wrapper-big {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  margin-top: 0;
  width: 100%;
}

.input-label {
  font-family: "Spectral SC", "Times New Roman", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
}

.text-input {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;

  padding: 20px;
  width: 100%;

  color: #202117B3;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.text-input:hover,
.text-input:focus,
.text-field:hover,
.text-field:focus {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
  outline: none;
  transition: all 0.5s ease;
}

.text-field {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  padding: 20px;
  width: 100%;
  min-height: 293px;
  color: #202117;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  border-radius: 10px;
  resize: none;
}

.feedback-form .section-button {
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 0px;
}

/*
 *****************************
 *  footer
 *****************************
 */
.page-footer {
  background: #d7d1c9;
  padding: 65px 0 90px;
}

.social-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 120px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  font-size: 18px;
  line-height: 25px;
  color: #2e2f22;
  text-decoration: none;
  transition: all 0.5s ease;
}

.social-link:hover {
  color: #acc5d8;
  transition: all 0.5s ease;
}

.social-link:active {
  color: #acc5d8;
  transition: all 0.5s ease;
}

/*
 ***************************************************************
 * Article.html
 ***************************************************************
 */
.post-article {
  width: 997px;
  padding-top: 70px;
}

.post-article .post-tags {
  margin-right: 25px;
  margin-top: 6px;
  margin-bottom: 50px;
}

.post-article .post-date {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 50px;
  margin-top: 6px;
}

.post-body .text {
  margin-bottom: 25px;
}

.article-illustration {
  margin-bottom: 40px;
  margin-top: 40px;
}

.illustration-caption {
  font-size: 14px;
  line-height: 26px;
  margin-top: 3px;
}

.article-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.like-button {
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 26px;
  padding: 0;
}

.like-button:hover path,
.like-button:active path {
  fill: #2e2f22;
  transition: all 0.5s ease;
}

.like-button.added path {
  fill: #b22222;
}

.like-counter {
  display: inline-block;
  vertical-align: middle;
  margin-top: -12px;
  margin-left: 8px;
}

.social-buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icon {
  margin-left: 32px;
}

.social-button:hover path,
.social-button:active path {
  fill: #b22222;
  transition: all 0.5s ease;
}

.all-aricles-link {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-decoration: none;
  color: #2e2f22;
  margin-top: 37px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.all-aricles-link svg {
  margin-left: 28px;
}

.all-aricles-link:hover,
.all-aricles-link:active {
  color: #5e5f55;
  transition: all 0.5s ease;
}

.all-aricles-link:hover path,
.all-aricles-link:active path {
  fill: #5e5f55;
  transition: all 0.5s ease;
}

.all-aricles-link svg,
.all-aricles-link path {
  transition: all 0.5s ease;
}

.all-aricles-link:hover svg {
  transform: translateX(50px);
  transition: all 0.5s ease;
}

/*
 * Comments
 */
.comments {
  width: 793px;
  background: #ece1e1;
  border-radius: 10px;
  padding: 44px 80px 36px 100px;
  margin-top: 65px;
  box-sizing: border-box;
}

.comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment {
  margin-bottom: 55px;
}

.comment:last-child {
  margin-bottom: 0;
}

.comment-avatar {
  border-radius: 10px;
  width: 50px;
  margin-right: 13px;
  margin-bottom: 14px;
  float: left;
}

.comment-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-top: 13px;
  margin-bottom: 30px;
}

.comment-text {
  font-size: 16px;
  line-height: 22px;
}

.comment-form {
  box-sizing: border-box;
  width: 793px;
  padding-top: 77px;
  padding-bottom: 64px;
  padding-left: 80px;
  padding-right: 0;
}

.comment-fieldset {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: none;
  margin: 0;
  padding: 0;
}

.comment-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  width: 100%;
  margin-bottom: 78px;
}

.input-container {
  position: relative;
  width: 220px;
  margin: 0;
  margin-bottom: 46px;
}

.input-text {
  position: absolute;
  font-size: 16px;
  line-height: 22px;
  left: 0;
  bottom: 15px;
}

.input-field {
  font-size: 16px;
  line-height: 22px;
  border: none;
  border-bottom: 1px solid #2e2f22;
  width: 100%;
  transform: translateY(-0px);
  transition: all 0.5s ease;
}

.input-field:hover {
  border-color: #000000;
  transition: all 0.5s ease;
}

.input-field:focus {
  border-color: #000000;
  outline: none;
  transition: all 0.5s ease;
}

.input-field:focus+.input-text,
.input-field:not(:placeholder-shown)+.input-text {
  transform: translateY(-15px);
  transition: all 0.5s ease;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 215px;
}

.comment-field {
  font-size: 16px;
  line-height: 22px;
  width: 406px;
  height: 96%;
  margin-left: 84px;
  border-radius: 10px;
  padding: 20px;
  margin-top: -10px;
  box-sizing: border-box;
  resize: none;
  transition: all 0.5s ease;
}

.comment-field:hover {
  border-color: #000000;
  transition: all 0.5s ease;
}

.comment-field:focus {
  border-color: #000000;
  outline: none;
  transition: all 0.5s ease;
}

.comment-form .section-button {
  background-color: transparent;
  margin: 0;
  margin-top: 6px;
}

/*
 * Helpers classes
 */
.hidden {
  display: none;
}

.warning,
.warning:focus {
  color: #b22222;
  border-color: #b22222;
  outline: none;
  transition: all 0.5s ease;
}

.section-button:disabled {
  opacity: 0.5;
  transition: all 0.5s ease;
}
