/************************** FONTS ******************************/
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src:
    local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src:
    local("Open Sans Bold"),
    local("OpenSans-Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: "Spectral SC";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src:
    local("Spectral SC Bold"),
    local("SpectralSC-Bold"),
    url("../fonts/spectralsc-bold.woff2") format("woff2"),
    url("../fonts/spectralsc-bold.woff") format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/***************************************************************/

/*
 *****************************
 *  GLOBAL
 *****************************
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 16px/26px "Open Sans", Arial, sans-serif;
  color: #2e2f22;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
time {
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

/*
 *****************************
 *  header
 *****************************
 */
.header {
  min-height: 581px;
}

.header--index {
  background: url("../img/bg-main-1.jpg") no-repeat center;
}

.header--article1 {
  background: url("../img/bg-main-2.jpg") no-repeat center;
}

.header .main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-basis: 610px;
}

.header .main-nav a img {
  margin-left: 120px;
  margin-right: 460px;
  margin-top: 4px;
  margin-bottom: 0;
}

.header .main-nav a {
  font-size: 18px;
  line-height: 25px;
}

.header .main-nav a:hover {
  text-decoration: underline;
}

/*
 *****************************
 *  main
 *****************************
 */
#artictles,
#about,
#portfolio,
#write {
  margin: 0 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#artictles h2,
#about h2,
#portfolio h2,
#write h2 {
  margin: 85px 0 49px 0;
  font-family: "Spectral SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 55px;
  text-align: center;
}

/* artictles */
.artictles_head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.artictles-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artictle-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 65px;
  position: relative;
}

.artictle-item h3 {
  margin: 27px 0 8px 0;
  font-family: "Spectral SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}

.artictle-item img {
  order: -1;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.artictle-item .artictle-short {
  padding: 0 0 20px 0;
}

.artictle-item .artictle-footer {
  display: flex;
  justify-content: space-between;
  color: rgba(46, 47, 34, 0.7);
}

.artictle-item--small {
  width: 387px;
  min-height: 268px;
}

.artictle-item--big {
  width: 590px;
  min-height: 552px;
}

.artictles-more,
.portfolio-more,
input[type=submit] {
  color: #202117;
  background-color: #ffffff;
  border: 1px solid #202117;
  border-radius: 10px;
  width: 224px;
  height: 46px;
}

/* about */
.about_container {
  display: flex;
}

.about_container img {
  width: 590px;
  border-radius: 10px;
}

.about-text {
  margin-left: 20px;
}

.about-text-top {
  font-size: 16px;
  line-height: 26px;
  margin-left: 20px;
  width: 485px;
}

.about-text-top p {
  padding-top: 42px;
}

.about-text-cite {
  margin-top: 72px;
  min-height: 215px;
  border-left: 3px solid #D7D1C9;
}

.about-text-cite p {
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  padding: 26px 0 0 20px;

}

/* portfolio */
.portfolio-list {
  margin: 0;
  padding: 0;
  padding-bottom: 116px;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.portfolio-item {
  width: 387px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
}

.portfolio-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item h3,
.portfolio-title {
  font-family: "Spectral SC", serif;
  font-style: normal;
  font-weight: bold;
}

.portfolio-item h3 {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.portfolio-title {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.portfolio-description {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.portfolio-item img {
  position: relative;
  display: block;
  width: 387px;
  height: 525px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  filter: blur(5px);
}

.portfolio-item img:hover,
.portfolio-item-text:hover {
  transition: filter 250ms ease-in;
  filter: blur(0);
}

.portfolio-item-text {
  position: absolute;
  top: 140px;
  z-index: 1;
}

.portfolio-item-text--2 {
  color: #ffffff;
}

.portfolio-item-text--1 .portfolio-description {
  padding: 17px 55px;
}

.portfolio-item-text--2 .portfolio-description {
  padding: 17px 32px;
}

.portfolio-item-text--3 .portfolio-description {
  padding: 17px 18px;
}


/* write */
#write .form-bg {
  width: 996px;
  height: 741px;
}

#write .write-form {
  padding: 53px 81px 62px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #ffffff url("../img/bg-form-1.jpg") no-repeat center bottom;
}

#write .write-form-name,
#write .write-form-email,
#write .write-form-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#write input[type=submit] {
  margin-top: 20px;
  background-color: transparent;
}

#write input[type=text],
#write input[type=email],
#write .write-form-text textarea {
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  border-radius: 10px;
}

#write input[type=text],
#write input[type=email] {
  width: 407px;
  height: 63px;
}

#write .write-form-text textarea {
  width: 837px;
  height: 293px;
  resize: none;
}

#write label {
  font-family: "Spectral SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-transform: initial;

  padding-top: 20px;
  padding-bottom: 12px;
}

#write input::placeholder {
  opacity: 0.7;
  color: #202117;
}

/*
 *****************************
 *  footer
 *****************************
 */
.footer {
  margin-top: 81px;
  background-color: #d7d1c9;
  min-height: 181px;
}

.footer .container {
  display: flex;
  justify-content: center;
}

.footer .social {
  margin: 65px 0 0 0;
  padding: 0;
  list-style: none;
  width: 630px;

  display: flex;
  justify-content: space-between;
}

.footer .social a {
  font-size: 18px;
  line-height: 25px;
}

.footer .social a:hover {
  text-decoration: underline;
}

/* article */
.article {
  margin-left: 120px;
  margin-right: 320px;
  margin-top: 85px;
}

.article .article-head {
  font-family: "Spectral SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
}

.article-tags-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-top: 6px;
  margin-bottom: 50px;
  color: rgba(46, 47, 34, 0.7);
}

.article-tags {
  padding-right: 18px;
}

.main-content p {
  padding-bottom: 26px;
}

.article figure {
  margin: 0;
  margin-bottom: 40px;
}

.article figure img {
  width: 997px;
  height: 463px;
}

.article figure figcaption {
  font-size: 14px;
  line-height: 26px;
  padding-top: 10px;
}

.article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 37px;
}

.article footer .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 214px;
}

.likes button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.like-counter {
  font-size: 24px;
  line-height: 26px;
}

.artictles-all {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

.artictles-all::after {
  content: "";
  position: absolute;
  width: 62px;
  height: 0px;
  left: 340px;
  top: 24px;

  border: 1px solid #2E2F22;
}

/* comments */
.comments-users {
  margin-left: 120px;
  margin-right: 320px;
  margin-top: 65px;

  width: 793px;
  min-height: 429px;

  background-color: #ECE1E1;
  border-radius: 10px;
}

.comments-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;

  padding-left: 100px;
  padding-right: 80px;
  padding-top: 44px;
  padding-bottom: 50px;
}

.comment-item {
  padding-bottom: 24px;
}

.comment-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.comment-author-photo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.comment-author-name {
  padding-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.comment-text {
  padding-top: 14px;
}

.comments-form {
  margin-left: 200px;
  margin-right: 320px;
  margin-top: 80px;
}

.comments-form h3 {
  margin: 77px 210px 69px 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 710px;
}

.comment-form input[type=text],
.comment-form input[type=email] {
  padding: 15px 0;
  width: 221px;
  border: none;
  border-bottom: 1px solid #2E2F22;
  margin-bottom: 35px;
}

.comment-form textarea {
  padding: 20px;
  width: 406px;
  height: 208px;
  border: 1px solid #2E2F22;
  border-radius: 10px;
  resize: none;
}

.comment-form input[type=submit] {
  margin-top: 35px;
  width: 224px;
}

.comment-form input::placeholder,
.comment-form textarea::placeholder {
  color: #2E2F22;
}
